<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.acxdev.learnjetpack">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".NoteApps"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearnJetpack">
        <activity
            android:name=".note.NoteActivity"
            android:exported="true"
            android:label="@string/title_activity_note_app"
            android:theme="@style/Theme.LearnJetpack.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MeditationUI"
            android:exported="true"
            android:label="@string/title_activity_meditation_ui"
            android:theme="@style/Theme.LearnJetpack.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LearnJetpack.NoActionBar" />
    </application>

</manifest>